@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
   * Debug
   */
  /* * {
    outline: 1px solid blue !important;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title
    font-bold;
  }

  h1 {
    @apply font-title text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }

  body {
    @apply bg-slate-50
    dark:bg-slate-900;
  }

  a {
    @apply hover:text-primary-400;
  }

  mark {
    @apply bg-primary-500 text-white;
  }
}

@layer components {
  .btn-primary {
    @apply rounded
    bg-primary-500
    px-4 
    py-2  
    font-bold
    text-white
    duration-150
    hover:bg-primary-600
    hover:ease-in;
  }
  .btn-secondary {
    @apply rounded
    border-[1px]
    border-solid 
    border-primary-500 
    bg-none 
    px-4 
    py-2 
    text-primary-500
    duration-150
    hover:bg-primary-500 
    hover:text-white
    hover:ease-in;
  }
  .btn-variant-ok {
    @apply rounded
    bg-green-500
    px-4 
    py-2  
    font-bold
    text-white
    duration-150
    hover:bg-green-400
    hover:ease-in;
  }
  .btn-variant-ko {
    @apply rounded
    bg-red-500
    px-4 
    py-2  
    font-bold
    text-white
    duration-150
    hover:bg-red-400
    hover:ease-in;
  }

  .sidebar {
    @apply fixed 
    bottom-0
    left-0
    top-0
    z-50
    overflow-hidden 
    bg-gray-100 
    px-2 
    text-center
    duration-150
    dark:bg-gray-800
    dark:text-white;
  }
  .sidebar--open {
    @apply w-[200px];
  }
  .sidebar--closed {
    @apply w-[50px]
    duration-150
    tmd:invisible;
  }

  .bubble {
    @apply flex items-center gap-4 rounded px-2 py-2;
  }
  .bubble--info {
    @apply border-[1px] border-solid border-blue-200 bg-blue-50 text-slate-900;
  }
  .bubble--error {
    @apply border-[1px] border-solid border-red-200 bg-red-50 text-red-900;
  }

  .tag {
    @apply h-fit rounded-full border-[1px] border-slate-500 bg-slate-200 px-2 text-xs/[18px] text-slate-500 dark:border-slate-200  dark:bg-slate-700 dark:text-slate-200;
  }

  .khayat-gradient {
    background: linear-gradient(
      90deg,
      rgba(223, 28, 13, 1) 0%,
      rgba(246, 88, 103, 1) 25%,
      rgb(176, 195, 231) 50%,
      rgb(103, 155, 214) 75%,
      rgb(45, 26, 82) 100%
    );
  }
}

@layer utilities {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes wink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

/* Antd */

/* Toast */
.ant-message-custom-content {
  @apply flex items-center gap-2 !important;
}
/* Modal */
.ant-modal-content,
.ant-modal-title,
.ant-modal-close-x {
  @apply shadow-none dark:bg-slate-900 dark:text-white;
}
/* Input */
.ant-input-search-button {
  @apply bg-slate-100;
}
/* Empty */
.ant-empty-description {
  @apply dark:text-slate-100;
}
/* Pagination */
.ant-pagination .ant-pagination-item-link,
.ant-pagination .ant-pagination-item-link .ant-pagination-item-ellipsis,
.ant-pagination li :not(.ant-pagination-item-active) {
  @apply dark:text-slate-100;
}
.ant-pagination .ant-pagination-item-active a {
  @apply dark:text-slate-800;
}

.ant-collapse-header-text,
.ant-collapse-extra,
.ant-collapse-expand-icon {
  @apply dark:text-slate-100;
}
.ant-collapse-header {
  display: flex;
  align-items: center !important;
}
